footer.sticky-footer {
  padding: 2rem 0;
  flex-shrink: 0;
  .copyright {
    line-height: 1;
    font-size: 0.8rem;
  }
}
body.sidebar-toggled {
  footer.sticky-footer {
    width: 100%;
  }
}
.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion {
  width: 100%!important;
  background: #2F4F4F;
  height: 100%;
}

#error_explanation {
  color: red;
}

#title-user {
  text-align: center;
  color: black;
  font-family: "Press Start 2P";
}

#title-user:hover{
  color: #007bff;
}

.header-user th{
  text-align: center;
}

.header-user th:hover{
  color: #007bff;
}

.data-user td{
  text-align: center;
}

.btn {
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/* Green */
.success {
  color: green;
}

.success:hover {
  background-color: #4CAF50;
  color: white;
}

/* Blue */
.info {
  color: dodgerblue;
}

.info:hover {
  background: #2196F3;
  color: white;
}

/* Orange */
.warning {
  color: orange;
}

.warning:hover {
  background: #ff9800;
  color: white;
}

/* Red */
.danger {
  color: red;
}

.danger:hover {
  background: #f44336;
  color: white;
}

/* Gray */
.default {
  color: black;
}

.default:hover {
  background: deepskyblue;
}

.create_user {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  padding: 10px 33px;
  margin: 17px;
  border-radius: 5px;
  text-decoration: none !important;
}

.create-room{
  margin: 30px 0;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

i.fa.fa-caret-down {
  padding-left: 10px;
}

.dropdown-container {
  display: none;
  padding: 0 62px 0 62px;
  background-color: #262626;
}

#drlayout {
  text-decoration: none;
}

#dlayout {
  text-decoration: none;
}

.avatar-default {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

#admin_avatar {
  margin-top: 27px;
  padding: 3px;
}

#content {
  -webkit-box-flex: 1;
  flex: 1 0 auto;
}
.sticky-footer.bg-white {
  border-top: 1px solid #858796;
}
.wrapper {
  width: 100%;
}

/*******Locations*******/
.link-to-edit:hover {
  text-decoration: none;
  color: #4e73df;
}

.link-to-edit {
  color: #A9A9A9;
}

.edit-location {
  margin-bottom: 10px;
}
.btn_right {
  float: right;
}

.align-button {
  margin-left: 42%;
  margin-top: 5%;
}

#custom_field_file {
  margin-top: 3%;
  padding: 3px;
}

.avatar-default-member {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.custom-dropdown {
  color: #555;
  margin: 3px -22px 0 0;
  width: 143px;
  position: relative;
  height: 17px;
  text-align:left;
}

.custom-submenu {
  position: absolute;
  z-index: 100;
  width: 135px;
  display: none;
  margin-left: 10px;
  padding: 40px 0 5px;
  border-radius: 6px;
}

.custom-dropdown li a {
color: #555555;
display: block;
font-family: arial;
font-weight: bold;
padding: 6px 15px;
cursor: pointer;
text-decoration:none;
}

.custom-dropdown li a:hover{
background:#155FB0;
color: #FFFFFF;
text-decoration: none;
}

a.account {
  font-size: 12px;
  line-height: 16px;
  color: #555;
  position: absolute;
  z-index: 110;
  display: block;
  padding: 11px 0 0 20px;
  height: 28px;
  width: 121px;
  margin: -11px 0 0 -10px;
  text-decoration: none;
  cursor:pointer;
}

.custom-root {
  list-style: none;
  font-size: 11px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
  background: #fff;
  padding: 10px 0 10px 0;
  border-radius: 5px 5px 5px 5px;
  margin: 11px 8px 0px -15px
}

.custom-root:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: #ffffff;
  position: absolute;
  color: #ffffff;
  top: 44px;
  left: 77px;
}

.profile-circle {
  width: 45px;
  height: 44px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 2px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  vertical-align: middle;
}

img.profile-circle {
  margin: 0px 64px;
  margin-top: -41px;
}

a.account:hover {
  text-decoration: none;
}

#member_avatar {
  margin-top: 27px;
  padding: 3px;
}

.show-avatar-index {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -4px;
}

.align-btn{
  padding: 0.1rem .75rem !important;
}

.new-price {
  float: right;
}

.price {
  float: right;
}

.voucher {
  border: 1px solid #cbd4d4;
  padding: 0 15px;
}

.fa-times-circle {
  font-size: 20px !important;
  padding: 10px 0 !important;
  color: darkslategrey !important;
  float: right;
}

.add_fields {
  color: darkslategrey;
  text-decoration: none !important;
}
