footer.sticky-footer {
  padding: 2rem 0;
  flex-shrink: 0;
  .copyright {
    line-height: 1;
    font-size: 0.8rem;
  }
}

body.sidebar-toggled {
  footer.sticky-footer {
    width: 100%;
  }
}

.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion {
  width: 100%!important;
  background: #2F4F4F;
  height: 100%;
}

#error_explanation {
  color: red;
}

#title-user{
  text-align: center;
}

.header-user th{
  text-align: center;
  background-color: mediumspringgreen;
}

.data-user td{
  text-align: center;
}

.btn {
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/* Green */
.success {
  color: green;
}

.success:hover {
  background-color: #4CAF50;
  color: white;
}

/* Blue */
.info {
  color: dodgerblue;
}

.info:hover {
  background: #2196F3;
  color: white;
}

/* Orange */
.warning {
  color: orange;
}

.warning:hover {
  background: #ff9800;
  color: white;
}

/* Red */
.danger {
  color: red;
}

.danger:hover {
  background: #f44336;
  color: white;
}

/* Gray */
.default {
  color: black;
}

.default:hover {
  background: deepskyblue;
}

.create_admin{
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  padding: 10px 33px;
  margin: 17px;
  border-radius: 5px;
}

.create-room{
  margin: 30px 0;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

i.fa.fa-caret-down {
    padding-left: 10px;
}

.dropdown-container {
  display: none;
  padding: 0 62px 0 62px;
  background-color: #262626;
}

#drlayout{
  text-decoration: none;
}

#dlayout{
  text-decoration: none;
}

.avatar-default{
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

#admin_avatar{
  margin-top: 27px;
  padding: 3px;

}
