- if @admin.errors.present?
  |
    $("#message_errors").html("#{j(render 'shared/manager/error_messages', object: @admin)}");
    toastr.error("#{flash[:danger]}");
    $(".modal").animate({scrollTop : 0},500);
- elsif flash[:notice]
  |
    $("#admin-modal").modal("hide")
    toastr.info("#{flash[:notice]}");
- elsif flash[:success]
  |
    $("#admin-modal").modal("hide")
    $(".data-admin").html("#{j(render @admins)}")
    toastr.success("#{flash[:success]}");
  - if current_admin.id == @admin.id
    |
      $('#load-current').attr("src","#{@admin.avatar.url}");
