= f.label :acreage, class: "col-form-label"
= f.text_field :acreage, class: "form-control", required: true

= f.label :address, class: "col-form-label"
= f.text_field :address, class: "form-control", required: true

= f.label :description, class: "col-form-label"
= f.text_area :description, class: "form-control", required: true
