= f.label :name, class: "col-form-label"
= f.text_field :name, class: "form-control", required: true

= f.label :locations, class: "col-form-label"
= f.select :location_id, build_location_for_rooms, {include_blank: t("please_choose_one"),
  selected: f.object.location_id}, {class: "form-control", required: true}

= f.label :type_room, class: "col-form-label"
= f.select :type_room, select_of_types, {include_blank: t("please_choose_one"),
  selected: f.object.type_room}, {class: "form-control", required: true}

= f.label :guest, class: "col-form-label"
= f.number_field :guest, class: "form-control", required: true,
  placeholder: "plesase enter the number"

= f.label :bed_room, class: "col-form-label"
= f.number_field :bed_room, class: "form-control", required: true,
  placeholder: "plesase enter the number"

= f.label :bath_room, class: "col-form-label"
= f.number_field :bath_room, class: "form-control", required: true,
  placeholder: "plesase enter the number"
