.nested-fields
  = f.file_field :image, multiple: true, name: "room_images[image][]",
    class: "form-control preview-image", presence: true
  = link_to_remove_association "remove", f, class: "btn btn-danger"
